<form class="ui  segment form" action="/addmessage" method="POST">
  <label>Add Message...</label>
  <textarea type="text" name="message"> </textarea>
  <button class="ui blue submit button">Send</button>
</form>