{{> menu}}

<section class="ui center aligned middle aligned two column grid segment">
  <section class="column">
    <h1 class="ui header">
      {{ title }}
    </h1>
    <p>
      {{ description }}
    </p>
  </section>
  <section class="column">
    <img class="ui image" src="/images/bookmark.png">
  </section>
</section>