<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  {{#each messages}}
    <div class="comment">
      <div class="content">
        <div class="text">
          {{messagetext}}
        </div>
      </div>
    </div>
{{/each}}
</div>