{{> menu id="dashboard"}}

<section class="ui segment">
  <h1 class="ui header">
    Welcome {{user.firstName}} {{user.lastName}}
  </h1>

  <section class="ui raised segment">
    <h3 class="ui header">
      Your Pictures:
    </h3>
    <div class="ui cards">
      {{#each album.photos}}
        {{> card }}
      {{/each}}
    </div>

  </section>

  <div class="ui segment">
    <a href="/dashboard/deleteallpictures"> <button class="negative ui button">Delete All</button></a>
  </div>

  <section class="ui raised segment">
    <div class="ui small dividing header"> Picture Upload </div>
    <section class="ui raised form segment">
      <form action="/dashboard/uploadpicture" method="post" enctype="multipart/form-data">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input type="file" name="picture">  </input>
          </div>
          <div class="field">
            <label>Title</label>
            <input placeholder="Title" type="text" name="title">
          </div>
        </div>
        <button class="ui mini blue submit button"> Upload </button>
      </form>
    </section>
  </section>
</section>