{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Template 2
  </h1>
  <p>
    This template includes simple user accounts
  </p>
</section>